<h2>New User</h2>

<form action="/user/new" method="post">
  <input type="text" name="name" placeholder="your name here" />
  <input type="text" name="email" placeholder="your email here" />
  <input type="text" name="star_sign" placeholder="your star sign here" />
  <input type="submit" value="save" />
</form>

<h2>Your details are:</h2>
<br> Name: {{name}}.
<br> Email: {{email}}.
<br> Star Sign: {{star_sign}}.
