<h1>Profile</h1>

{{#each users}}
This is my ID: {{id}}<br>
This is my name: {{name}}<br>
This is my email: {{email}}<br>
This is my star sign: {{star_sign}}<br>
<br>
{{/each}}
<a href="/">Go Back</a>
